@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row g-3">
                <div id="error-col" class="col-12" hidden>
                    <div id="client-error-list">
                        <ul id="error-ul" class="mb-0">

                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for="Input.FullName">Full Name</label>
                    <input type="Text" id="fullname-input" asp-for="Input.FullName" class="form-control" required/>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.CreditCardNumber">Credit Card</label>
                    <input type="Text" id="creditcard-input" asp-for="Input.CreditCardNumber" class="form-control" required/>
                    <span asp-validation-for="Input.CreditCardNumber" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.Gender">Gender</label>
                    <select asp-for="Input.Gender" class="form-control" required>
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.MobileNumber">Mobile No</label>
                    <input type="Text" id="mobile-input" asp-for="Input.MobileNumber" class="form-control" required/>
                    <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.DeliveryAddress">Delivery Address</label>
                    <input type="Text" id="address-input" asp-for="Input.DeliveryAddress" class="form-control" required/>
                    <span asp-validation-for="Input.DeliveryAddress" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.Email">Email Address</label>
                    <input type="Text" id="email-input" asp-for="Input.Email" class="form-control" required/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.Password">Password</label>
                    <input id="password-input" type="Text" asp-for="Input.Password" class="form-control password-input" required/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div id="pswmeter"></div>
                    <div id="pswmeter-message"></div>
                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input type="Text" id="confirm-input" asp-for="Input.ConfirmPassword" class="form-control" required/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">Photo</label>
                    <input class="form-control" asp-for="Input.Photo" type="file" id="file-input" />
                    <span asp-validation-for="Input.FileName" class="text-danger"></span>

                </div>

                <div class="col-12">
                    <label class="form-label" asp-for="Input.AboutMe">About Me</label>
                    <textarea type="" asp-for="Input.AboutMe" class="form-control"> </textarea>
                    <span asp-validation-for="Input.AboutMe" class="text-danger"></span>
                </div>

                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary w-100">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this
                            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/lib/pswmeter-master/pswmeter.js"></script>
    <script src="~/js/register.js"></script>

    <script>
        

    </script>
}