@page
@using Microsoft.AspNetCore.Identity
@using PractAssignment.Models
@model IndexModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
}
@{
    if (!SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }

    else
    {
        ApplicationUser? user = await UserManager.GetUserAsync(User);

        <div class="row g-3">
            <div col-12>
                <div class="d-flex justify-content-between">
                    <h1>Profile</h1>
                    <div>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-warning">Manage</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 col-12">
                <img class="img-fluid img-thumbnail" src="data:image/png;base64,@Convert.ToBase64String(user.Photo)"/>
            </div>

            <div class="col-md-8 col-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>@user.FullName</td>
                    </tr>
                    <tr>
                        <th>Credit-Card Number</th>
                        <td>@Model.DecryptData(user.CreditCardNumber)</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@user.Gender</td>
                    </tr>
                    <tr>
                        <th>Mobile No</th>
                        <td>@user.MobileNumber</td>
                    </tr>
                    <tr>
                        <th>Delivery Address</th>
                        <td>@user.DeliveryAddress</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td>@user.Email</td>
                    </tr>
                    <tr>
                        <th>About Me</th>
                        <td>@user.AboutMe</td>
                    </tr>
                    <tr>
                        <th>2FA</th>
                        <td>@user.TwoFactorEnabled</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    }
}


